@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .hero {
        padding: 10px;
        flex-direction: column;

    }
    .navbar {
        padding: 10px 40px;
    }
    .content1 {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .content1 p {
        text-align: center;
        width: 100%;
    }
    .content2 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .speartor {
        width: 100%;
        padding: 10px;
    }
    .speartor p {
        font-size: 28px;
    }
    .speartor span {
        font-size: 18px;
        margin: 0px 5px;
    }
    .ceditcart {
        flex-direction: column;
        align-items: center;
        margin: 50px;
        padding-left: 0px;
    }
    .ceditcart div:first-of-type {
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    .ceditcart div:first-of-type h2 {
        text-align: center;
        font-size: 35px;
        width: 100%;
    }
    .ceditcart div:first-of-type p {
        width: 100%;
        text-align: center;
    }
    .payement  {
        flex-direction: column;
    }
    .payement div:last-of-type {
        text-align: center;
        margin-bottom: 80px;
    }
    .carddeal {
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .carddeal div:first-of-type {
        width: 100%;
        padding: 10px;
        text-align: center;
        justify-content: center;
        margin-bottom: 80px;
    }
    .carddeal div:first-of-type h5 {
        font-size: 40px;
        width: 100%;
    }
    .carddeal div:first-of-type p {
        width: 100%;
        
    }
    .carddeal button {
        align-self: center;
        justify-self: center;
    }
    .feedback {
        padding: 10px;
    }
    .people-tex {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .container {
        flex-direction: column;
        margin-top: 50px;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .container div:not(.main_){
        width: 90%;
        border: 1px solid rgba(255, 255, 255, .1);
        gap: 20px;
        padding: 20px;
        height: auto;
    }
    .container div:not(.main_) p{
        width: 100%;
    }
    .speartor-icons {
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .speartor-icons img {
        width: calc(100/4) !important;
    }
    .tryservice {
        padding: 10px;
        width: 95%;
        align-items: center;
        justify-content: space-between;
        margin: 50px 10px 50px 10px;
    }
    .tryservice span:first-of-type  h5{
        font-size: 20px;
    }
    .tryservice span:first-of-type  p{
        font-size: 14px;
        width: 300px;
    }
    .tryservice span:nth-child(2){
        width: 30%;
    }
    .tryservice .btn1 {
        width: 100%;
    }
    footer {
        padding: 10px;
        margin: 50px 10px ;
    }
    .logo {
        flex-wrap: wrap;
    }
    .logo2 {
        flex-wrap: wrap;
    }
}
/* this medai  for laptops  */
@media only screen and (min-width: 1024px) and (max-width:1200px){
    .hero {
        padding: 20px;
        
    }
    .speartor {
        padding: 20px;
    }
    .ceditcart {
        padding: 20px;
    }
    .ceditcart div:first-of-type h2 {
        font-size: 35px;
        width: 500px;
    }
    .payement {
        margin: 50px 10px 50px;
        flex-direction: column-reverse;
    }
    .payement div:nth-of-type(2){
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .payement div:nth-of-type(2) h5 {
        width: 100%;
    }
    .payement div:nth-of-type(2) h5 {
        width: 100%;
    }
    .carddeal {
        margin: 20px;
    }
    .carddeal div:first-of-type h5 {
        font-size: 30px;
        width: 350px;
    }
    .feedback {
        padding: 0px;
        margin: 10px;
    }
    .container {
        flex-wrap: wrap;
        flex: 1 1 auto;
    }
    .container div:not(.main_) {
        padding: 10px;
    }
  }
  /* Media query for phones */
@media only screen and (max-width: 767px) {
    
  }