* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#11101d ;
    font-family: 'poppins',sans-serif;
}
.navbar {
    padding: 20px 80px;
    background: transparent;
    backdrop-filter: blur(5px);

}
.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.decoration {
    display: inline-block;
    box-shadow: 0px 0px 1000px 80px #5CE1E6;
    font-size: 100px;
    color: white;
    z-index: -100;
    position: absolute;
    right: 10px;
    top: 10px;
}
.navbar nav img{
    width: 150px;
    height: auto;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    transition: color .4s,transform .3s ease;
}
nav ul li a:hover {
    color: #5CE1E6;
    transform: scale(1.05);
}
nav ul li a::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -3px;
    box-shadow: 0px 0px 20px #5CE1E6;
    background-color: #5CE1E6;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .4s ease;
}
nav ul li a:hover:before {
    transform: scaleX(1);
}
.hero {
    display: flex;
    padding: 10px 0px 10px 80px;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.content1 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.content1 div:first-of-type {
    width: 400px; 
    display: flex;
    
    padding: 10px;
    border-radius: 10px;
}
.content1 div span i {
    border-radius: 50%;
    padding: 10px;
    color: #5CE1E6;
    
}
.con {
    display: flex;
    padding: 5px;
    border-radius: 10px;
    
    align-items: center;
    font-size: 18px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}
.content1 h2 {
    font-size: 68px;
    width: 100%;
    margin: 0;
    padding: 0;
}
h2 span {
    background-image: linear-gradient(to right, #DEF9FA,#BEF3F5,#9DEDF0,#7DE7EB,#5CE1E6,#33BBCF);
    background-clip: text;
    color: transparent;
    
}
.content1 {
    width: 50%;
}
.content2 {
    position: relative;
    
}
.content2 .decoration {
    top: 30%;
    right: 50%;
    box-shadow: 0px 0px 1000px 150px #33BBCF;
}
.content1 .decoration {
    left: 0;
    right: 110%;
    top: 50%;
    box-shadow: 0px 0px 1000px 50px #fff;
}
.content1 h2 + p {
    margin-top: 30px;
    width: 420px;
    opacity: .5;
}
.animatio {
    border: 3px solid #33BBCF;
    display: block;
    width: 100px;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    right: 10%;
    cursor: pointer;
    top: 20%;
}
.speartor {
    display: flex;
    padding: 10px 80px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.speartor span {
    font-size: 21.5px;
}
.speartor p {
    font-size: 40px;
    font-weight: 600;
}
.speartor span:not(.line) {
    background: linear-gradient(to right,#33BBCF,#fff);
    background-clip: text;
    color: transparent ;
}
.ceditcart {
    display: flex;
    color: #fff;
    gap: 60px;
    padding: 10px 80px;
    margin-top: 130px;
}
.ceditcart div:first-of-type {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 50px;
}
.ceditcart div:first-of-type h2{
    font-size: 48px;
    width: 600px;
}
.ceditcart div:first-of-type p {
    width: 500px;
    opacity: .5;
}
.btn {
    width:200px; 
    padding:10px 20px;
    border-radius: 10px;
    font-family:'poppins',sans-serif;
    font-size: 18px;
    background: none;
    border: none;
    position: relative;
    color: #000;
    overflow: hidden;
    transition: box-shadow .3s ease,transform .4s ease;
    transform-origin: center ;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.05);
}

.btn:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #33BBCF;
    
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s ease;
    top: 0;
    transform-origin: left;

    z-index: -10;
}
.btn:hover::after {
    transform: scaleX(1);
    z-index: -1;
    box-shadow: 0px 0px 20px 50px #33BBCF;
}
.main {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background: none;
    transition: background .3s ease;
    border-radius: 20px;
}
.main:hover {
    background: linear-gradient(to top,#14101D,#42475B);
}
.main span h5 {
    font-size: 18px;
    font-weight: 400;
}
.main span p {
    font-size: 16px;
    opacity: .5;
}
.main i {
    background-color: rgba(9, 151, 124, 0.1);
    font-size: 40px;
    padding: 20px;
    border-radius: 50%;
    color: #00F6FF;
}
.decoration1 {
    display: inline-block;
    box-shadow: 0px 0px 10000px 100px #fff;
    font-size: 100px;
    color: white;
    z-index: -100;
    position: absolute;
    left: -10%;
    top: 50%px;
}
.payement {
    position: relative;
    padding: 10px 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}
.payement div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.payement div:nth-of-type(2) h5 {
    font-size: 48px;
    width: 500px;
}
.payement div:nth-of-type(2) p {
    opacity: .5;
    width: 500px;
}
.payement div:nth-of-type(2) span {
    margin-top: 20px;
}
.payement div:nth-of-type(2) span img {
    transition: transform .4s ease;
}
.payement div:nth-of-type(2) span img:hover {
    transform: scale(1.05);
}
.carddeal {
    display: flex;
    color: #FFF;
    padding: 10px 80px;
    justify-content: space-evenly;
    align-items: center;
}
.carddeal div:first-of-type {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.carddeal div:first-of-type h5 {
    font-size: 48px;
    width: 600px;
    
}
.carddeal div:first-of-type p {
    width: 500px;
    opacity: .5;
}
.feedback {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 10px 80px;
    position: relative;
}
.feedback .decoration {
    top: 50%;
    right: -10px;
    buttom:40%;
    box-shadow: 0px 0px 10000px 70px #00F6FF;
}
.people-tex {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.people-tex h5 {
    width: 500px;
    font-size: 48px;
}
.people-tex p {
    width: 450px;
    font-size:18px;
    opacity: .5;
}
.container {
    display:flex;
    justify-content: space-between;
    gap: 20px;
    transition: all .5s ease;
}
.container div:not(.main_) {
    display: flex;
    height: 375px;
    flex-direction: column;
    gap: 40px;
    padding: 20px 40px;
    width: 30%;
    margin-top: 20px;
    background: transparent;
    border-radius: 20px;
    transition: all .4s ease;
}
.container div:not(.main_):hover {
    background: linear-gradient(to top,#14101D,#42475B);
    transform: scale(1.05);
}
.container:hover .blur {
    opacity: .5;
    filter: blur(5px);
}
.container .blur:hover {
    opacity: 1;
    filter: blur(0px);
}
.container div p {
    width: 300px;

}
.main_ {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    gap: 20px;
}
.main_ span p:first-of-type {
    font-size: 20px;
    font-weight: 400;
}
.main_ span p:last-of-type {
    font-size: 20px;
    font-weight: 400;
    opacity: .5;
}
.main_ span {
    display: inline-block;
    width: 200px;
}
.speartor-icons {
    display: flex;
    padding: 10px 80px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    margin-top: 50px;
}
.tryservice {
    margin: 10px 80px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to top,#14101D,#42475B);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 80px;
}
.tryservice span:first-of-type  h5 {
    font-size: 48px;
    color: #fff;
}
.tryservice span:first-of-type p {
    width: 400px;
    color: #fff;
    opacity: .5;
    margin-top: 20px;
}
.btn1 {
    width:200px; 
    padding:10px 20px;
    border-radius: 10px;
    font-family:'poppins',sans-serif;
    font-size: 18px;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border: none;
    position: relative;
    color: #000;
    overflow: hidden;
    transition: box-shadow .3s ease,transform .4s ease;
    transform-origin: center;
    cursor: pointer;
}

.btn1:hover {
    transform: scale(1.05);
    
}
.animation {
    transition: opacity .4s ease,filter .4s ease;
}
.blur {
    transition: opacity .4s ease,filter .4s ease,transform .5s ease;
}
.animation:hover .blur {
    opacity: .5;
    filter: blur(3px);
}
.animation .blur:hover {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1.05);
}
footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin: 50px 80px 0px;
    color: #fff;
    padding-bottom: 50px;
}
.logo  {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(255,255,255,.4);
    padding: 10px 80px 80px 80px;
}
.logo span:first-of-type p {
    width: 300px;
    opacity: .5;
    margin-top: 40px;
}
.logo span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo span h5 {
    font-size: 18px;
    font-weight: 500;
}
.logo span a {
    display: inline-block;
    color: #fff;
    position: relative;
    text-decoration: none;
    transition: transform .4s ease;
    opacity: .5;
}
.logo span a:hover {
    transform: scale(1.05);
    color: #00F6FF;
    opacity: 1;
}
footer div:last-of-type {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
footer div:last-of-type p {
    opacity: .5;
}
.logo2 {
    display: flex;
    gap: 20px;
}
.logo2 i {
    transition: transform .5s ease, color .4s ease;
    color: #fff;
    background: none;
    font-size: 30px;
}
.logo2 i:hover {
    transform: scale(1.2);
    color: #00F6FF;
    
}
